        <!--====== Start Hero Section ======-->
        <section class="hero-section">
            <!--====== Hero Wrapper ======-->
            <div class="hero-wrapper-five p-r">
                <div class="elements el-one scene"><span data-depth=".5"><img src="assets/images/home-beef/hero/el-1.png" alt="element"></span></div>
                <div class="elements el-two scene"><span data-depth=".10"><img src="assets/images/home-beef/hero/el-2.png" alt="element"></span></div>
                <div class="elements el-three scene"><span data-depth=".15"><img src="assets/images/home-beef/hero/el-3.png" alt="element"></span></div>
                <div class="elements el-four scene"><span data-depth=".20"><img src="assets/images/home-beef/hero/el-4.png" alt="element"></span></div>
                <div class="elements el-five scene"><span data-depth=".25"><img src="assets/images/home-beef/hero/el-5.png" alt="element"></span></div>
                <div class="elements el-six scene"><span data-depth=".35"><img src="assets/images/home-beef/hero/el-5.png" alt="element"></span></div>
                <!-- Hero Bg Image -->
                <div class="hero-bg-img text-center">
                    <img src="assets/images/home-beef/hero/hero-beef-bg.png" alt="Food bg">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-content text-center">
                                <h1 class="wow fadeInDown" data-wow-delay=".6s">Yummyyy</h1>
                            </div>
                            <div class="hero-image text-center">
                                <img src="assets/images/home-beef/hero/royal_thaali.png" class="wow fadeInUp" alt="Royal Thaali">
                                <div class="after-image">
                                <div class="after-image" class="wow zoomIn">
                                    <div class="image scene">
                                        <span data-depth=".25"><img src="assets/images/home-beef/hero/el-6.png" alt="After Element"></span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Hero Section ======-->
        <!--====== Start Food Section ======-->
        <section class="our-food-section pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <!--=== Section Title ===-->
                        <div class="section-title home-four mb-50 wow fadeInDown">
                            <span class="sub-title"><i class="flaticon-food-tray"></i>Top Selling</span>
                            <h2>The Taste You Deserve</h2>
                        </div>
                        <!--=== Food Item ===-->
                        <div class="food-item mb-50">
                            <div class="food-thumbnail wow fadeInUp">
                                <img src="assets/images/home-beef/about/item1.jpg" alt="menu item s">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <!--=== Food Item ===-->
                        <div class="food-item mb-50 wow fadeInDown">
                            <div class="food-thumbnail">
                                <img src="assets/images/home-beef/about/item2.jpeg" alt="Food ">
                            </div>
                        </div>
                        <!--=== Order Item ===-->
                        <div class="iconic-info-box style-two mb-50 wow fadeInUp">
                            <div class="icon">
                                <i class="far fa-phone-alt"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Get online order now</h4>
                                <h4><a href="tel:+919005483732">+91 90054 83732</a></h4>
                                <a href="menu-v3.html" class="theme-btn style-one">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <!--=== Food Item ===-->
                        <div class="food-item mb-50 wow fadeInRight">
                            <div class="food-thumbnail">
                                <img src="assets/images/home-beef/about/item3.jpg" alt="Chole Poori">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Food Section ======-->

        <!--====== Start Foodix Menu Section ======-->
        <section class="foodix-menu-section pt-80 pb-90 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-four section-title text-center mb-55 wow fadeInDown">
                            <span class="sub-title">Our Menu</span>
                            <h2>Choose Menu</h2>
                            <p>Royal रसोई is dedicated to bring the authentic flavors of homemade food to your table. Enjoy the love and warmth of traditional cooking with every meal.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="foodix-tabs style-two mb-70">
                            <ul class="nav nav-tabs wow fadeInDown">
                                <li *ngFor="let category of categories; let i = index">
                                  <button
                                    class="nav-link"
                                    [class.active]="i === 0"
                                    data-bs-toggle="tab"
                                    [attr.data-bs-target]="'#' + category"
                                  >
                                    {{ category | titlecase }}
                                  </button>
                                </li>
                              </ul>
                              
                        </div>
                    </div>
                </div>
 
                <div class="row">
                    <div class="col-lg-12">
                      <div class="tab-content">
                        <!-- Iterate over categories -->
                        <div
                          class="tab-pane fade"
                          *ngFor="let category of categories; let first = first"
                          [ngClass]="{ show: first, active: first }"
                          [id]="category"
                        >
                          <div class="row">
                            <!-- Iterate over food items within each category -->
                            <div
                              class="col-xl-4 col-md-6 col-sm-12"
                              *ngFor="let item of getFoodByCategory(category)"
                            >
                              <div class="menu-item style-four mb-30">
                                <div class="menu-thumbnail">
                                  <img
                                    [src]="item.images[0]?.url || 'assets/images/product/product-placeholder.jpg'"
                                    [alt]="item.name" height="247px"
                                  />
                                </div>
                                <div class="menu-info">
                                  <div class="menu-meta">
                                    <span class="price"><span class="currency">₹</span>{{ item.price }} {{item.measurement}}</span>
                                    <span class="rating">
                                      <i class="fas fa-star"></i><a href="#">{{ item.ratings }}</a>
                                    </span>
                                  </div>
                                  <h4 class="title">
                                    <a (click)="goToFoodDetails(item.name)" >{{ item.title }}</a>
                                  </h4>
                                  <ul class="check-list style-one">
                                    <li *ngFor="let addon of item.foodItems">
                                      <i class="far fa-check-circle"></i> {{addon.quantity ?? addon.weight}} {{ addon.name }} 
                                    </li>
                                  </ul>
                                  <a (click)="goToFoodDetails(item.name)" class="theme-btn style-two">
                                    <i class="far fa-cart-plus"></i> More Details
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Foodix Menu Section ======-->

        <!--====== Start Why Choose Section ======-->
        <section class="why-choose-section pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!--=== Section Image Box ===-->
                        <div class="section-image-box style-three wow fadeInRight">
                            <div class="discount-item">
                                <div class="discount-inner bg_cover" style="background-image: url(assets/images/home-beef/gallery/discount-bg.png);">
                                    <h2>10% <span>Discount</span></h2>
                                </div>
                            </div>
                            <img src="assets/images/home-beef/gallery/7.png" width="565px" alt="Choose bg">
                            <div class="fill-text">Delicious</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--=== Section Content Box ===-->
                        <div class="section-content-box mb-50">
                            <!--=== Section Title ===-->
                            <div class="section-title home-four wow fadeInDown">
                                <span class="sub-title"><i class="flaticon-food-tray"></i>Why Choose US</span>
                                <h2>You will love the rich taste in every bite</h2>
                            </div>
                            <p class="wow fadeInUp">At Royal रसोई, every dish is crafted with the love and care of a home kitchen. Whether it’s a casual lunch or a family gathering, enjoy the flavors of homemade goodness without stepping into the kitchen.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--=== Iconic Box ===-->
                                    <div class="iconic-box style-five mb-30 wow fadeInDown">
                                        <div class="icon">
                                            <img src="assets/images/icon/icon-2.svg" alt="Icon">
                                        </div>
                                        <div class="content">
                                            <h3 class="title">10+</h3>
                                            <p>Organic Dishes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!--=== Iconic Box ===-->
                                    <div class="iconic-box style-five mb-30 wow fadeInDown">
                                        <div class="icon">
                                            <img src="assets/images/icon/icon-8.svg" alt="Icon">
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Fresh</h3>
                                            <p>Prepared in Home </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-button wow fadeInUp">
                                <a href="about.html" class="theme-btn style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Banner Section ======-->

        <!--====== Start Intro Section ======-->
        <section class="intro-section pt-20 pb-80">
            <div class="container">
                <!--=== Intro Bg Wrapper ===-->
                <div class="intro-wrapper_three bg_cover pt-130 pb-125" style="background-image: url(assets/images/thumbnail.jpg);">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-content-box text-white text-center wow fadeInDown">
                                <div class="play-button">
                                    <a href="https://www.youtube.com/watch?v=Xj4E0Zry6K4" class="video-popup"><i class="fas fa-play"></i></a>
                                </div>
                                <h2 class="text-uppercase">Possibilities Between Every <br> Burger Bite.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Intro Section ======-->

        <!--====== Start Order Bg Section ======-->
        <section class="order-section">
            <!--=== Order Bg Wrapper ===-->
            <div class="order-bg-wrapper pt-80 pb-15 bg_cover" style="background-image: url(assets/images/bg/order-bg1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <!--=== Section Content Box ===-->
                            <div class="section-content-box text-white">
                                <!--=== Section Title ===-->
                                <div class="section-title section-title-left mb-50 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                    <span class="sub-title">Fast delivery!</span>
                                    <h2>Fast Delivery Within 2 KM</h2>
                                </div>
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">We promise prompt delivery of our delicious, ensuring it arrives swiftly, fresh, and guaranteed to delight your taste buds.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--=== Iconic Box ===-->
                                        <div class="iconic-box style-two mb-40 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                            <div class="icon">
                                                <img src="assets/images/icon/icon-3.svg" alt="icon">
                                            </div>
                                            <div class="content">
                                                <h5>Arrives within 30 minutes or less, post food preparation!</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!--=== Iconic Box ===-->
                                        <div class="iconic-box style-two mb-40 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                            <div class="icon">
                                                <img src="assets/images/icon/icon-4.svg" alt="icon">
                                            </div>
                                            <div class="content">
                                                <h5>Enjoy free shipping on orders over 500 INR.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--=== Order Button ===-->
                                <div class="order-button wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    <a href="index.html" class="theme-btn style-one">Order Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <!--=== Section Image Box ===-->
                            <div class="section-image-box mb-50 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                <img src="assets/images/gallery/delivary-1.png" alt="Delivary ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Order Bg Section ======-->
        

        <!--====== Start features Section ======-->
        <section class="features-section gray-bg pt-60 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="iconic-info-box style-three mb-30">
                            <div class="icon">
                                <i class="flaticon-credit-card"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Security Payment</h4>
                                <p>We Ensure Secure Payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="iconic-info-box style-three mb-30">
                            <div class="icon">
                                <i class="flaticon-return-on-investment"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Money Returns</h4>
                                <p>100% Return, if not fresh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="iconic-info-box style-three mb-30">
                            <div class="icon">
                                <i class="flaticon-free-shipping"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Free Shipping</h4>
                                <p>Free Shipping above &#8377; 500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="iconic-info-box style-three mb-30">
                            <div class="icon">
                                <i class="flaticon-24-hours"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Support 24/7</h4>
                                <p>Contact 24 Hours A Day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>