        <!--====== Start Page Section ======-->
        <section class="page-banner">
            <div class="page-bg-wrapper p-r z-1 bg_cover pt-100 mt-110 pb-110" style="background-image: url(assets/images/bg/page-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--=== Page Banner Content ===-->
                            <div class="page-banner-content text-center">
                                <h1 class="page-title">Why Choose Royal रसोई</h1>
                                <ul class="breadcrumb-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Why Us?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Page Section ======-->
        <!--====== Start History Section ======-->
        <section class="history-section pt-130 pb-100">
            <div class="container">
                <div class="history-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!--===  Section Content Box  ===-->
                            <div class="section-content-box mb-50">
                                <div class="section-title section-title-left wow fadeInDown mb-20">
                                    <span class="sub-title">What Makes Us Special?</span>
                                    <h2>Nutritious 
                                        Ingredients</h2>
                                </div>
                                <p>The Main Chef is a culinary virtuoso and the creative force behind the kitchen's gastronomic artistry. With a profound passion for food.</p>
                                <br>
                                    <p><b>Multigrain Atta</b>: Our chapatis are crafted from a blend of <span class="highlight">raagi, makka, bajra, chana, oats, and wheat</span>, providing a rich source of fiber and essential nutrients.</p>
                                    <p><b>Premium Rice</b>: We use high-quality rice for our pulav, ensuring every grain is packed with flavor and nutrition.</p>
                                    <p><b>Fresh Vegetables</b>: Only farm-fresh vegetables make it into our dishes, guaranteeing maximum freshness and health benefits.</p>
                            
                                <p>Proactively fabricate one-to-one materials via effective e-business. Completely synergize scalable e-commerce rather than high standards in e-services.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="history-img mb-30 wow fadeInUp">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/royal-red-soup.jpg" alt="red-soup">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="history-img mb-30 wow fadeInUp">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/shahi-thali.jpg" alt="shahi thali">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--===  History Image  ===-->
                            <div class="history-img text-lg-end mb-50 wow fadeInRight">
                                <img src="assets/images/product/maharaja-laddoo.jpg" alt="History">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--===  Section Content Box  ===-->
                            <div class="section-content-box wow fadeInLeft">
                                <div class="section-title section-title-left mb-30">
                                    <span class="sub-title">You deserve it</span>
                                    <h2>Taste & Purity</h2>
                                </div>
<ul>
                                    <li><b>Cow Ghee</b>: Known for its rich taste and numerous health benefits, our dishes are prepared using pure cow ghee.</li>
                                    <li><b>Olive Oil</b>: A heart-friendly choice for lighter, healthier meals.</li>
                                    <li><b>Pink Salt (Rock Salt)</b>: A healthier alternative to regular table salt, packed with essential minerals.</li>
                                    <li><b>Mineral Water</b>: All our cooking is done with pure mineral water, ensuring the highest standards of hygiene and purity.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--===  section image box  ===-->
                            <div class="section-image-box wow fadeInRight">
                                <div class="text-box mb-45">
                                    <p>All our spices, including <b>garam masala, coriander powder, and black pepper</b>, are ground in-house to deliver authentic flavors without any artificial additives.</p>
 </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="history-img mb-30">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/aloo-matar-kachori.jpg" alt="history">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="history-img mb-30">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/sabudaana-khichdi.jpg" alt="history">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===  History Wrapper  ===-->
                <div class="history-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-content-box wow fadeInLeft">
                                <div class="section-title section-title-left">
                                    <span class="sub-title">Vision to Plan</span>
                                    <h2>Our Promise to You</h2>
                                </div>
                                <p>With Royal रसोई, you’re not just getting a meal – you’re getting:</p>
                                 <ul>
                                <li><p>A commitment to health</p></li>
                                <li><p>A promise of purity</p></li>
                                <li><p>A taste of tradition, because you deserve it.</p></li>
                            </ul>

                            <p>We’re here to make your eating experience both royal and rewarding.</p>

    <p><b>Experience the Royal रसोई difference today. Let’s make healthy eating a delicious journey!</b></p>
                        
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--===  Section Image Box  ===-->
                            <div class="section-image-box wow fadeInRight">
                                <div class="text-box mb-45">
                                    <p>The Main Chef is a culinary virtuoso and the creative force behind the kitchen's gastronomic artistry. With a profound passion for food.</p>
                           
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="history-img mb-30">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/matar-mushroom-meal.jpg" alt="history">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="history-img mb-30">
                                            <img style="height: 180px; width: 180px;" src="assets/images/product/royal-rajasthani-thali.jpg" alt="history">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>