# sudo nano /etc/systemd/system/royalrasoyi-app.service
# sudo systemctl daemon-reload
# sudo systemctl enable royalrasoyi-app.service
# sudo systemctl start royalrasoyi-app.service

[Unit]
Description=Royal Rasoyi Web Application
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/royalrasoyi/html
ExecStart=/usr/bin/node /var/www/royalrasoyi/html/server/server.mjs
Restart=always
Environment=NODE_ENV=production
Environment=PORT=4100
SyslogIdentifier=royalrasoyi-app
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target