
    <div class="card bg-custom-white reveal reveal-active custom-card">
      <div class="position-relative">
        <a href="javascript:void(0);">
          <img class="card-img-top" [src]="image" alt="service-image">
        </a>
      </div>
      <div class="card-body d-flex flex-column">
        <h5>{{ title }}</h5>
        <span class="d-block mb-3">{{ description }}</span>
        <a href="javascript:void(0);" class="fs-14 text-primary fw-semibold">Read More<i class="bi bi-arrow-right ms-2 d-inline-block rtl-transform-icon"></i></a>
      </div>
    </div>

  