
  <div class="card border text-center feature-card-15 shadow-none reveal reveal-active">
    <div class="card-body main-card-body">
      <div class="d-flex align-items-center gap-3">
        <div>
          <img [src]="image" class="img-fluid team-img rounded-circle" alt="img">
        </div>
        <div class="text-start">
          <h5 class="mb-0 mt-3">{{ name }}</h5>
          <p class="text-primary mb-3 fs-14">{{ role }}</p>
          <div class="d-flex">
            <a href="javascript:void(0);" aria-label="anchor" class="btn btn-primary-light btn-sm btn-icon rounded-circle me-2">
              <i class="ri ri-twitter-x-fill fs-11"></i>
            </a>
            <a href="javascript:void(0);" aria-label="anchor" class="btn btn-success-light btn-sm btn-icon rounded-circle me-2">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="javascript:void(0);" aria-label="anchor" class="btn btn-info-light btn-sm btn-icon rounded-circle me-2">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="javascript:void(0);" aria-label="anchor" class="btn btn-secondary-light btn-sm btn-icon rounded-circle">
              <i class="bx bxl-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

