        <!--====== Start Overlay ======-->
        <div class="offcanvas__overlay"></div>
        <!--====== End Overlay ======-->
        <!--====== Start Sidemenu-wrapper-cart Area ======-->
        <div class="sidemenu-wrapper-cart">
            <div class="sidemenu-content">
                <div class="widget widget-shopping-cart">
                    <h4>My cart</h4>
                    <div class="sidemenu-cart-close"><i class="far fa-times"></i></div>
                    <div class="widget-shopping-cart-content">
                        <ul class="foodix-mini-cart-list">
                            <li class="foodix-menu-cart">
                                <a href="#" class="remove-cart"><i class="far fa-trash-alt"></i></a>
                                <a href="#">
                                    <img src="/assets/images/product/cart-1.jpg" alt="cart image">
                                    Urban Bourbon Bliss Ribeye
                                </a>
                                <span class="quantity">1 × <span><span class="currency">&#8377;</span>940.00</span></span>
                            </li>
                            <li class="foodix-menu-cart">
                                <a href="#" class="remove-cart"><i class="far fa-trash-alt"></i></a>
                                <a href="#">
                                    <img src="/assets/images/product/cart-2.jpg" alt="cart image">
                                    Artisanal Truffle Tango Sirloin
                                </a>
                                <span class="quantity">1 × <span><span class="currency">&#8377;</span>940.00</span></span>
                            </li>
                            <li class="foodix-menu-cart">
                                <a href="#" class="remove-cart"><i class="far fa-trash-alt"></i></a>
                                <a href="#">
                                    <img src="/assets/images/product/cart-3.jpg" alt="cart image">
                                    Smoked Paprika Perfection
                                </a>
                                <span class="quantity">1 × <span><span class="currency">&#8377;</span>940.00</span></span>
                            </li>
                            <li class="foodix-menu-cart">
                                <a href="#" class="remove-cart"><i class="far fa-trash-alt"></i></a>
                                <a href="#">
                                    <img src="/assets/images/product/cart-4.jpg" alt="cart image">
                                    Tandoori Temptation Tender
                                </a>
                                <span class="quantity">1 × <span><span class="currency">&#8377;</span>940.00</span></span>
                            </li>
                        </ul>
                        <div class="cart-mini-total">
                            <div class="cart-total">
                                <span><strong>Subtotal:</strong></span> <span class="amount">1 × <span><span class="currency">&#8377;</span>940.00</span></span>
                            </div>
                        </div>
                        <div class="cart-button">
                            <a href="checkout.html" class="theme-btn style-one">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--====== End Sidemenu-wrapper-cart Area ======-->
        <!--====== Start Header Area ======-->
        <header class="header-area transparent-header" style="">
            <div class="container">
                <!--=== Header Navigation ===-->
                <div class="header-navigation">
                    <div class="nav-overlay"></div>
                    <div class="primary-menu">
                        <!--=== Site Branding ===-->
                        <div class="site-branding">
                            <a href="index.html" class="brand-logo"><img src="/assets/images/home-beef/logo/logo-main.png" alt="Logo"></a>
                        </div>
                        <div class="nav-inner-menu">
                            <!--=== Foodix Nav Menu ===-->
                            <div class="foodix-nav-menu">
                                <!--=== Mobile Logo ===-->
                                <div class="mobile-logo mb-30 d-block d-xl-none text-center">
                                    <a href="index.html" class="brand-logo"><img src="/assets/images/home-beef/logo/logo-main.png" alt="Site Logo"></a>
                                </div>
                                <!--=== Main Menu ===-->
                                <nav class="main-menu">
                                    <ul>
                                        <li class="menu-item"><a routerLink="/">Home</a>
                                        </li>
                                        <li class="menu-item"><a routerLink="/menu" routerLinkActive="active">Menu</a>
                                        </li>
                                        <li class="menu-item"><a routerLink="/why-choose-us" routerLinkActive="active">Why Us?</a>
                                     
                                        </li>
                                        <li class="menu-item"><a href="/faqs">Faqs</a>
                                        </li>
                                        <li class="menu-item"><a href="/chefs.html">Our Chefs</a></li>
                                        <li class="menu-item"><a href="/contact-us">Contact</a></li>
                                    </ul>
                                </nav>
                                <!--=== Nav Button ===-->
                                <div class="nav-button mt-50 d-block d-xl-none  text-center">
                                    <a href="tel:+919005483732" class="theme-btn style-one">Call Now</a>
                                </div>
                            </div>
                            <!--=== Nav Right Item ===-->
                            <div class="nav-right-item">
                                <div class="nav-button d-none d-xl-block">
                                    <a href="tel:+919005483732" class="theme-btn style-one">Call Now</a>
                                </div>
                                <div class="cart-button">
                                    <i class="far fa-shopping-cart"></i>
                                </div>
                                <div class="navbar-toggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--====== End Header Area ======-->