.cart-button {
    .cart-badge {
      position: absolute;
      top: 8px;
      right: 180px;
      background: red;
      color: white;
      font-size: 12px;
      font-weight: bold;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .cart-button {
        .cart-badge {
          position: absolute;
          top: 15px;
          right: 130px;
          background: red;
          color: white;
          font-size: 12px;
          font-weight: bold;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  
  
  
  