<ul class="list-unstyled crm-top-deals {{defaultClass}}">
<li>
    <div class="d-flex align-items-center flex-wrap">
      <div class="me-2 lh-1">
        <span class="avatar avatar-sm avatar-rounded ">
          <img [src]="avatar" alt="">
        </span>
      </div>
      <div class="flex-fill">
        <span class="fw-medium d-block mb-0">{{ name }}</span>
        <span class="text-muted fs-12">{{ email }}</span>
      </div>
      <div>
        <span class="fw-medium">{{ amount }}</span>
      </div>
    </div>
  </li>
  </ul>
  