<div class="row authentication coming-soon justify-content-center g-0 my-auto">
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-7 col-11 my-auto">
        <div class="authentication-cover rounded-3 overflow-hidden card custom-card my-3">
            <div class="aunthentication-cover-content text-center">
                <div class="row justify-content-center align-items-center mx-0 g-0">
                    <div class="col-xxl-11 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                        <div>
                            <div class="mb-4"> <a routerLink="/dashboards/sales" > 
                                <img src="./assets/images/brand-logos/toggle-white.png" alt="" class="authentication-brand"> </a> 
                            </div>
                            <h4 class="mb-2 text-fixed-white fs-2">Under Maintenance</h4>
                            <p class="mb-5 text-muted text-fixed-white fs-16 op-8">We're currently performing some updates to improve your experience. Please bear with us – we'll be back shortly!</p>
                            <div class="input-group mb-5">
                                <input type="email" class="form-control form-control-lg bg-light" placeholder="info@gmail.com" aria-label="info@gmail.com" aria-describedby="button-addon2">
                                <button class="btn btn-secondary btn-lg" type="button" id="button-addon2">Subscribe</button>
                            </div>
                            <div class="d-flex gap-3 flex-wrap mt-4 mb-0 gy-xxl-0 gy-3 justify-content-center" id="timer">
                                <div class="">
                                    <p class="mb-1 text-fixed-white fw-medium">DAYS</p>
                                    <h4 class="mb-0 avatar d-block bg-success avatar-xl mt-2 backdrop-blur">{{days}}</h4>
                                </div>
                            <div>
                                <div class=""><p class="mb-1 text-fixed-white fw-medium">HOURS</p>
                                    <h4 class="avatar d-block bg-info avatar-xl mb-0 mt-2 backdrop-blur"> {{hours}}</h4>
                                </div>
                            </div>
                            <div>
                                <div class=""><p class="mb-1 text-fixed-white fw-medium">MINUTES</p>
                                    <h4 class="mb-0 avatar d-block bg-warning avatar-xl mt-2 backdrop-blur">{{mins}}</h4>
                                </div>
                            </div>
                            <div>
                                <div class=""><p class="mb-1 text-fixed-white fw-medium">SECONDS</p>
                                    <h4 class="mb-0 avatar d-block bg-danger avatar-xl mt-2 backdrop-blur">{{secs}}</h4>
                                </div>
                            </div>
                           
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>