        <!--====== Start Footer ======-->
        <footer class="footer-default p-r z-1">
            <div class="footer-shape f-shape_one scene"><span data-depth=".3"><img src="assets/images/shape/shape-2.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_two scene"><span data-depth=".4"><img src="assets/images/shape/shape-3.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_three scene"><span data-depth=".5"><img src="assets/images/shape/shape-4.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_four scene"><span data-depth=".6"><img src="assets/images/shape/shape-5.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_five scene"><span data-depth=".7"><img src="assets/images/shape/shape-6.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_six scene"><span data-depth=".8"><img src="assets/images/shape/shape-7.png" alt="shape"></span></div>
            <div class="footer-shape f-shape_seven scene"><span data-depth=".9"><img src="assets/images/shape/shape-8.png" alt="shape"></span></div>
            <div class="container">
                <!--=== Footer Widget Area ===-->
                <div class="footer-widget-area pt-120 pb-75">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-about-widget mb-40 wow fadeInUp">
                                <div class="widget-content">
                                    <div class="footer-logo mb-25">
                                        <a href="index.html"><img src="assets/images/logo/logo-white.png" alt="Brand Logo"></a>
                                    </div>
                                    <p>Discover culinary delights recipes 
                                        and inspiration in our delightful 
                                        food haven.</p>
                                    <ul class="social-link">
                                        <li><a href="#https://facebook.com/royalrasoyi"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-contact-widget mb-40 wow fadeInUp">
                                <div class="widget-content">
                                    <h4 class="widget-title">Contact Us</h4>
                                    <ul class="address-list">
                                        <li>Home Kitchen, Tower D. Apex Golf Avenue</li>
                                        <li><a href="tel:+91-344-667-999">+91 900-5483-732</a></li>
                                        <li><a href="mailto:order@barger.com">order&#64;royalrasoyi.com</a></li>		
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-nav-widget mb-40 wow fadeInUp">
                                <div class="widget-content">
                                    <h4 class="widget-title">Quick Link</h4>
                                    <ul class="widget-menu">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Today's Menu</a></li>
                                        <li><a href="#">Our Menu</a></li>
                                        <li><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-opening-widget mb-40 wow fadeInUp">
                                <div class="widget-content">
                                    <h4 class="widget-title">Opining Time</h4>
                                    <ul class="opening-schedule">
                                        <li>Monday<span>: 10.00am - 05.00pm </span></li>
                                        <li>Tuesday<span>: 10.20am - 05.30pm </span></li>
                                        <li>Wednesday<span>: 10.30am - 05.50pm </span></li>
                                        <li>Thursday<span>: 11.00am - 07.10pm </span></li>
                                        <li>Friday : <span class="of-close">Closed</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=== Copyright Area ===-->
            <div class="copyright-area text-center">
                <div class="container">
                    <div class="copyright-text">
                        <p>&copy; 2025 All rights reserved design and developed by Elite Innovates Solutions Pvt. Ltd.</p>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->