<app-page-header firstTitle="Apps" title="Search-Company" title1="Jobs" activeTitle="Search-Company" ></app-page-header>

  <!-- Start:: row-1 -->
  <div class="row">
    <div class="col-xxl-3 col-lg-5">
        <div class="card custom-card products-navigation-card">
            <div class="card-body p-0">
                <div class="p-3 m-2 border border-dashed rounded">
                    <h6 class="fw-medium mb-0">Industry Type</h6>
                    <div class="px-0 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-1" checked>
                            <label class="form-check-label" for="c-1">
                                R & D
                            </label>
                            <span class="badge bg-light text-default  float-end">2,712</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-2">
                            <label class="form-check-label" for="c-2">
                                Accounting
                            </label>
                            <span class="badge bg-light text-default  float-end">536</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-3" checked>
                            <label class="form-check-label" for="c-3">
                                Business Process
                            </label>
                            <span class="badge bg-light text-default  float-end">18,289</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-4" checked>
                            <label class="form-check-label" for="c-4">
                                Consulting
                            </label>
                            <span class="badge bg-light text-default  float-end">3,453</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="c-5">
                            <label class="form-check-label" for="c-5">
                                 Support
                            </label>
                            <span class="badge bg-light text-default  float-end">7,165</span>
                        </div>
                        <div class="collapse" id="category-more" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                            <div class="form-check mb-2">
                                <input class="form-check-input me-2" type="checkbox" value="" id="cc-6">
                                <label class="form-check-label" for="cc-6">
                                    Human Resources
                                </label>
                                <span class="badge bg-light text-default  float-end">5,964</span>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input me-2" type="checkbox" value="" id="cc-7">
                                <label class="form-check-label" for="cc-7">
                                    Marketing
                                </label>
                                <span class="badge bg-light text-default  float-end">2,123</span>
                            </div>
                        </div>
                        <a class="ecommerce-more-link" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="category-more">MORE</a>
                    </div>
                </div>
                <div class="p-3 m-2 border border-dashed rounded">
                    <h6 class="fw-medium mb-0">Location</h6>
                    <div class="px-0 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="available-1" checked>
                            <label class="form-check-label" for="available-1">
                                Hyderabad
                            </label>
                            <span class="badge bg-light text-default  float-end">512</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="available-2">
                            <label class="form-check-label" for="available-2">
                                Banglore
                            </label>
                            <span class="badge bg-light text-default  float-end">2,186</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="available-3">
                            <label class="form-check-label" for="available-3">
                                Chennai
                            </label>
                            <span class="badge bg-light text-default  float-end">734</span>
                        </div>
                        <div class="collapse" id="location-more" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                            <div class="form-check mb-2">
                                <input class="form-check-input me-2" type="checkbox" value="" id="c-6">
                                <label class="form-check-label" for="c-6">
                                    Pune
                                </label>
                                <span class="badge bg-light text-default  float-end">5,964</span>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input me-2" type="checkbox" value="" id="c-7">
                                <label class="form-check-label" for="c-7">
                                    USA
                                </label>
                                <span class="badge bg-light text-default  float-end">2,123</span>
                            </div>
                        </div>
                        <a class="ecommerce-more-link" data-bs-toggle="collapse" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" role="button" aria-expanded="false" aria-controls="location-more">MORE</a>
                    </div>
                </div>
                <div class="p-3 m-2 border border-dashed rounded">
                    <h6 class="fw-medium mb-0">Recruiter Type</h6>
                    <div class="px-0 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="Recruiter-1" checked>
                            <label class="form-check-label" for="Recruiter-1">
                                Direct Company
                            </label>
                            <span class="badge bg-light text-default  float-end">13</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input me-2" type="checkbox" value="" id="Recruiter-2">
                            <label class="form-check-label" for="Recruiter-2">
                                Agency
                            </label>
                            <span class="badge bg-light text-default  float-end">67</span>
                        </div>
                    </div>
                </div>
                <div class="p-3 m-2 border border-dashed rounded">
                    <h6 class="fw-medium mb-0">Job Vacancies</h6>
                    <div class="px-0 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="vacancies-1" checked>
                            <label class="form-check-label" for="vacancies-1">
                                0 -10
                            </label>
                            <span class="badge bg-light text-default  float-end">13</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input me-2" type="checkbox" value="" id="vacancies-3">
                            <label class="form-check-label" for="vacancies-3">
                                20 +above 
                            </label>
                            <span class="badge bg-light text-default  float-end">67</span>
                        </div>
                    </div>
                </div>
                <div class="p-3 m-2 border border-dashed rounded">
                    <h6 class="fw-medium mb-0">Type of Employement</h6>
                    <div class="px-0 py-3 pb-0">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="j-1" checked>
                            <label class="form-check-label" for="j-1">
                                Full Time
                            </label>
                            <span class="badge bg-light text-default  float-end">512</span>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" value="" id="j-2">
                            <label class="form-check-label" for="j-2">
                                Part Time
                            </label>
                            <span class="badge bg-light text-default  float-end">2,186</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-lg-7">
        <div class="row align-items-center mb-4">
            <div class="col-lg-12">
                <div class="input-group companies-search-input">
                    <input type="text" class="form-control form-control-lg flex-fill" aria-label="Text input with segmented dropdown button" placeholder="Enter your keyword here">
                    <input type="text" class="form-control form-control-lg flex-fill" aria-label="Text input with segmented dropdown button" placeholder="Search by location">
                   <!-- <div class="choices"> -->
                    <spk-ng-select 
                    [options]="Categories"
                    [id]="'choices-single-default'"
                    [selectClass]="'form-control form-select-lg rounded-0 seach-category'"
                    [clearable]="true"
                    [searchable]="true"
                    [hideSelected]="true"
                    [placeholder]="'All Categories'"
                    [additionalProperties]="{}">
                    </spk-ng-select>
                      
                   <!-- </div> -->
                    <button type="button" class="btn btn-primary"><i class="ri-search-line"></i></button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <h5 class="fw-medium mb-0 flex-grow-1">2,433 <span class="fw-normal fs-18">Companies match for your search</span> </h5>
                            <spk-dropdowns [Customclass]="'btn-group'" 
                            [class]="'btn btn-outline-light border dropdown-toggle'" [title]="'Sort By'" 
                            [Menuclass]="'dropdown-menu'">
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Premium</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Newest</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Most Relevant</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Fresher</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Experienced</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Bond Agreement</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Flexible Shift</a></li>
                                    <li><a class="dropdown-item" ngbDropdownItem href="javascript:void(0);">Day Shift</a></li>
                        </spk-dropdowns>
                        </div>
                    </div>
                </div>
            </div>
            @for (company of companies; track $index) {
            <div class="col-xl-4">
                <div class="card custom-card">
                  <div class="card-body">
                    <div class="float-end">
                      <a href="javascript:void(0);" class="avatar avatar-rounded bg-primary-transparent avatar-sm" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist" ngbTooltip="Add to Wishlist">
                        <span><i class="bi bi-heart"></i></span>
                      </a>
                    </div>
                    <div class="d-flex align-items-center flex-wrap gap-2">
                      <span class="avatar avatar-xl border border-dashed p-3 avatar-rounded">
                        <img [src]="'./assets/images/company-logos/' + company.logo" alt="">
                      </span>
                      <div class="ms-2 mt-2">
                        <h6 class="fw-medium mb-1 d-flex align-items-center">
                          <a href="javascript:void(0);">{{ company.name }} <i class="ri-verified-badge-fill text-secondary fs-13" data-bs-toggle="tooltip" ngbTooltip="Verified company"></i></a>
                        </h6>
                        <div class="d-flex gap-2 mb-3 flex-wrap">
                          <a href="javascript:void(0);"><i class="ri-map-pin-2-line text-info"></i> {{ company.location }} </a>
                          <p class="mb-0 text-muted">Establishment year - {{ company.establishment }}</p>
                        </div> 
                        <div class="d-flex align-items-center mb-2 fs-12 text-muted flex-wrap">
                          <p class="fs-12 mb-0">Ratings : </p>
                          <div class="min-w-fit-content ms-2">
                            @for (star of [].constructor(4); track $index;let i = $index) {
                            <span class="me-1">
                              <i [class.text-warning]="i < company.ratings / 40" class="bi bi-star-fill"></i>
                            </span>
                             }
                             <span class="text-warning"><i class="bi bi-star-half"></i></span>
                          </div>
                          <a href="javascript:void(0);" class="ms-1 min-w-fit-content text-muted">
                            <span>({{ company.ratings }})</span> 
                            <span>Ratings</span>
                          </a>
                        </div>
                        <div class="d-flex gap-1 align-items-center flex-wrap">
                          <a href="javascript:void(0);" class="badge badge-md fs-11 rounded-pill bg-success-transparent me-1" data-bs-toggle="tooltip" [ngbTooltip]="'No of employees'">
                            <i class="bi bi-people me-1"></i>No. of Emp : {{ company.employees }}
                          </a>
                          <a href="javascript:void(0);" class="badge badge-md fs-11 rounded-pill bg-info-transparent">
                            <i class="bi bi-briefcase me-1"></i>Vacancies : {{ company.vacancies }}
                          </a>
                        </div>  
                      </div>                                            
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-grid">
                      <a href="javascript:void(0);" class="btn btn-wave btn-primary">
                        View Profile <i class="ri-arrow-right-line align-middle rtl-transform-icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            }
        </div>
        <ul class="pagination mb-4 justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">
                    Prev
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link text-primary" href="javascript:void(0);">
                    next
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End:: row-1 -->