     <!--====== Start Checkout Section ======-->
     <section class="checkout-section pt-130 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--=== Checkout Wrapper ===-->
                    <div class="checkout-wrapper mt-50 wow fadeInUp">
                        <!--=== Checkout Form ===-->
                        <form [formGroup]="checkoutForm" class="checkout-form">
                            <div class="row">
                                <div class="col-xl-8">
                                    <h4 class="title mb-15">Billing Details</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form_group">
                                                <label>Name*</label>
                                                <input type="text" class="form_control" placeholder="Full Name" formControlName="name" required>
                                            </div>
                                        </div>
                                
                                        <!-- House No., Floor, Tower in the same row on Mobile -->
                                        <div class="col-lg-3 col-sm-4 col-4">
                                            <div class="form_group">
                                                <label>House No.</label>
                                                <input type="text" class="form_control" placeholder="House Number" formControlName="houseNo" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-4 col-4">
                                            <div class="form_group">
                                                <label>Floor</label>
                                                <input type="text" class="form_control" placeholder="Floor No" formControlName="floor" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-4">
                                            <div class="form_group">
                                                <label>Tower</label>
                                                <input type="text" class="form_control" placeholder="Tower / Block" formControlName="tower" required>
                                            </div>
                                        </div>
                                
                                        <div class="col-lg-8">
                                            <div class="form_group">
                                                <label>Location*</label>
                                                <input type="text" class="form_control" placeholder="Apartment / Street Address" formControlName="location" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form_group">
                                                <label>Zip Code*</label>
                                                <input type="text" class="form_control" placeholder="Zip" formControlName="zip" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form_group">
                                                <label>Order Notes (optional)</label>
                                                <textarea class="form_control" placeholder="Notes about your order" formControlName="orderNotes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                  
                                <div class="col-xl-4">
                                    <!--===  Shopping Cart Area  ===-->
                                    <div class="shopping-cart-area mb-50 wow fadeInDown">
                                        <h4 class="title mb-15">Your order</h4>
                                        <div class="shopping-cart-total">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Cart Subtotal</td>
                                                        <td class="price">₹{{ cartSubtotal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shipping Fee</td>
                                                        <td class="price">₹{{ shippingFee }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="total"><span>Order Total</span></td>
                                                        <td class="total price"><span>₹{{ orderTotal }}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="accordion-td">
                                                            <div class="form_group" id="accordion-coupon">
                                                                <label data-bs-toggle="collapse" data-bs-target="#collapse01">Have A Coupon ?</label>
                                                                <div id="collapse01" class="collapse" data-bs-parent="#paymentMethod">
                                                                    <input type="text" class="form_control" placeholder="Coupon Code">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button class="theme-btn style-one">Proceed to checkout</button>
                                        </div>
                                        
                                    </div>
                                    <!--=== Payment Method ===-->
                                    <div class="payment-method mb-30 wow fadeInDown">
                                        <h4 class="title mb-20">Payment Method</h4>
                                        <ul id="paymentMethod" class="mb-20">
                                            <!-- Default unchecked -->
                                            <li class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="method1" checked>
                                                <label class="form-check-label" for="method1" data-bs-toggle="collapse" data-bs-target="#collapse0">Cash On Delivery</label>
                                                <div id="collapse0" class="collapse show" data-bs-parent="#paymentMethod">
                                                    <p>Pay with cash remains a simple and reliable choice, transcending the complexities of modern finance.</p>
                                                </div>
                                            </li>
                                            <!-- Default unchecked -->
                                            <li class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="method2">
                                                <label class="form-check-label" for="method2" data-bs-toggle="collapse" data-bs-target="#collapse1">Direct Bank Transfer</label>
                                                <div id="collapse1" class="collapse" data-bs-parent="#paymentMethod">
                                                    <p>Please proceed with your payment directly into our bank account. Kindly use your Order ID as the payment reference. Your order will be processed once the payment reflects in our account.</p>
                                                </div>
                                            </li>
                                            <!-- Default unchecked -->
                                            <li class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="method3">
                                                <label class="form-check-label" for="method3" data-bs-toggle="collapse" data-bs-target="#collapse2">Paypal</label>
                                                <div id="collapse2" class="collapse" data-bs-parent="#paymentMethod">
                                                    <p>You can make your payment via PayPal. If you don't have a PayPal account, you can use your credit card to complete the transaction.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <p>We will utilize your personal data to process your order, enhance your experience on our website, and for other purposes outlined in our <a href="#">privacy policy</a>.</p>
                                        <button class="theme-btn style-one">Place Order</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Checkout Section ======-->