
<app-page-header firstTitle="Apps" title="Food Menu List" title1="Catalogue" activeTitle="Food Menu List" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">   
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Menu Dishes Details List
                </div>
            </div>
            <div class="card-body p-0">
                <div *ngIf="lists" class="table-responsive">
                    <spk-reusable-tables  tableClass="table text-nowrap"  (toggleSelectAll)="handleToggleSelectAll($event)" [showCheckbox]="true" [columns]="productlistColumns"> 
                        @for (list of lists; track list) {

                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" [(ngModel)]="list.checked" 
                                    [checked]="allTasksChecked" 
                                    (change)="toggleRowChecked(list)"  id="product1" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="avatar avatar-md avatar-square bg-light"><img [src]="list.imageUrl"  class="w-100 h-100" alt="..."></span>
                                        <div class="ms-2">
                                            <p class="fw-medium mb-0 d-flex align-items-center"><a (click)="openDetails(list.id)">{{list.title}} </a></p>
                                            <p class="fs-12 text-muted mb-0">{{list.type}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>{{list.category}}</span>
                                </td>
                                <td>{{list.price}}</td>
                                <td>{{list.bestSeason}}</td>
                                <td><span class="badge bg-primary-transparent">{{list.type}}</span></td>
                                <td>
                                    <div class="hstack gap-2 fs-15">
                                        <a (click)="navigateToEdit(list.id)" [routerLink]="['/catalogue/edit-food-details', list.id]" class="btn btn-icon btn-sm btn-primary-light"><i class="ri-edit-line"></i></a>
                                        <a href="javascript:void(0);" (click)="Remove(list.id)" class="btn btn-icon btn-sm btn-danger-light product-btn"><i class="ri-delete-bin-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </spk-reusable-tables>
                </div>
            </div>
                <div class="card-footer border-top-0">
                    <div class="d-flex align-items-center flex-wrap overflow-auto">
                        <div class="mb-2 mb-sm-0">
                            Showing <b>1</b> to <b>5</b> of <b>10</b> entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                        </div>
                        <div class="ms-auto">
                            <ul class="pagination mb-0 overflow-auto">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<!--End::row-1 -->
