<h2 mat-dialog-title>Login</h2>
<div mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mobile Number</mat-label>
      <input matInput type="text" formControlName="username" required />
      <mat-error *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
        Enter a valid 10 digit Mobile Number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Password must be at least 6 characters
      </mat-error>
    </mat-form-field>

    <!-- <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox> -->

    <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

    <div class="button-group">
      <button mat-button class="theme-btn style-one" (click)="register()">Register</button>
      <button mat-flat-button class="theme-btn style-one" color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
