<app-page-header title="HRM" title1="Dashboards" activeTitle="HRM" ></app-page-header>
                <!-- Start:: row-1 -->
                <div class="row">
                    <div class="col-xxl-9">
                        <div class="row">
                            @for (card of cardsData; track $index) {
                                <div class="col-xxl-3 col-xl-6">
                            <spk-hrm-dashboard
                  [title]="card.title"
                  [value]="card.value"
                  [percentage]="card.percentage"
                  [chartOptions]="card.chartOptions"
                  [isIncrease]="card.isIncrease">
  </spk-hrm-dashboard>
  </div>

}
                            <div class="col-xxl-8">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Job Application Status
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="Application-statistics">
                                            <spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4">
                                <div class="card custom-card">
                                    <div class="card-header justify-content-between">
                                        <div class="card-title">
                                            Gender Distribution
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="btn btn-light btn-sm">View All</a>
                                        </div>
                                    </div>
                                    <div class="card-body text-center mx-auto px-0">
                                        <div id="gender-chart">
                                            <spk-apexcharts [chartOptions]="chartOptions5"></spk-apexcharts>
                                        </div>
                                    </div>
                                </div>
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <ul class="d-flex flex-wrap mb-0 list-unstyled justify-content-around text-center gap-2">
                                            <li>
                                                <div>
                                                    <div class="lh-1 me-1 mb-2">
                                                        <span class="avatar avatar-md bg-primary-transparent border border-primary border-3 border-opacity-25 avatar-rounded">
                                                            <i class="ri-stack-line fs-17 lh-1"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="d-block mb-0 text-muted fs-12">Attendance</span>
                                                        <h5 class="fw-medium mb-0">4,241</h5>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="lh-1 me-1 mb-2">
                                                        <span class="avatar avatar-md bg-success-transparent border border-success border-3 border-opacity-25 avatar-rounded">
                                                            <i class="ri-calendar-todo-line fs-17 lh-1"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="d-block mb-0 text-muted fs-12">Absent</span>
                                                        <h5 class="fw-medium mb-0">485</h5>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="lh-1 me-1 mb-2">
                                                        <span class="avatar avatar-md bg-info-transparent border border-info border-3 border-opacity-25 avatar-rounded">
                                                            <i class="ri-time-line fs-17 lh-1"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="d-block mb-0 text-muted fs-12">Late</span>
                                                        <h5 class="fw-medium mb-0">08</h5>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">Upcoming Events</div>
                                <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-primary-light">
                                    View All
                                </a>
                            </div>
                            <div class="card-body">
                               <ul class="list-unstyled timeline-widget1 mb-0">
                                @for(event of events;track $index){
                                <li class="timeline-widget-list">
    <div class="d-flex align-items-start gap-3 flex-wrap">
      <div class="avatar avatar-lg" [ngClass]="event.color + ' flex-shrink-0'">
        <div class="text-center">
          <div class="fw-medium lh-1 mb-1">{{ event.date }}</div>
          <div class="fs-12 text-default fw-medium lh-1">{{ event.day }}</div>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-fill align-items-top justify-content-between flex-xl-nowrap gap-1">
        <div class="events-width">
          <p class="mb-1 timeline-widget-content text-truncate">{{ event.title }}</p>
          <p class="mb-0 fs-12 lh-1 text-muted">
            @if (event.time) {
            <span class="me-2" *ngIf="event.time">{{ event.time }}</span>
            }
            @if (event.type) {
            <span class="badge"  [ngClass]="{
                'bg-warning-transparent': event.type === 'Holiday',
                'bg-primary-transparent': event.type === 'Announcement',
                'bg-success-transparent': event.type === 'Birthday',
              }"
                 >{{ event.type }}</span>
            }
          </p>
        </div>
        <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true" [IconClass]="'fe fe-more-vertical'"
        [class]="'btn btn-light btn-icon no-caret'" [Menuclass]="'dropdown-menu-end'">
            <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
        </spk-dropdowns>
      </div>
    </div>
  </li>
}
</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-1 -->

                <!-- Start:: row-3 -->
                <div class="row">
                    <div class="col-xxl-5">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Employee Status
                                </div>
                                <spk-dropdowns [Customclass]="'dropdown'" [Icon]="true" [title]="'Sort By'" [IconClass]="'ri-arrow-down-s-line align-middle ms-1 d-inline-block'"
                                [class]="'fs-12 text-muted no-caret border-0'" [Menuclass]="'dropdown-menu'">
                                        <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                         <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                         <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                </spk-dropdowns>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <spk-reusable-tables [columns]="EmployeesHeader"  tableClass="table text-nowrap"  [showCheckbox]="false">
                                            @for (employee of employees; track $index) {
                                            <tr>
                                              <td>
                                                <div class="d-flex align-items-center gap-2">
                                                  <span class="avatar avatar-sm avatar-rounded">
                                                    <img [src]="employee.image" alt="">
                                                  </span>
                                                  <span class="fw-medium">{{ employee.name }}</span>
                                                </div>
                                              </td>
                                              <td>{{ employee.role }}</td>
                                              <td>
                                                <span class="badge rounded-pill min-w-badge" [ngClass]="employee.status === 'Active' ? 'bg-success-transparent' : 'bg-danger-transparent'">
                                                  {{ employee.status }}
                                                </span>
                                              </td>
                                              <td>{{ employee.score }}</td>
                                            </tr>
                                        }
                                    </spk-reusable-tables>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                   Today's Interviews
                                </div>
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-light btn-sm">View All</a>
                                </div>
                            </div>
                            <div class="card-body py-3">
                             
<ul class="list-unstyled mb-0 schedule-list">
    @for (meeting of meetings; track $index) {
    <li>
      <div class="d-flex align-items-center flex-wrap flex-xl-nowrap gap-2">
        <div class="lh-1">
          <span class="avatar avatar-md avatar-rounded p-1 bg-light">
            <img [src]="meeting.image" alt="">
          </span>
        </div>
        <div class="flex-fill text-truncate">
          <p class="fw-medium mb-0 text-truncate">{{ meeting.title }}</p>
          <p class="fs-12 text-muted mb-0 text-nowrap text-truncate w-75">
            <i class="ri-time-line me-1"></i>{{ meeting.date }}
          </p>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn btn-primary btn-sm text-nowrap">Call Now</button>
        </div>
      </div>
    </li>
}
  </ul>
  
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-header justify-content-between">
                                <div class="card-title">Leave Request</div>
                                <a href="javascript:void(0);" class="btn btn-sm btn-light border">View All</a>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <spk-reusable-tables [columns]="LeaveTableHeader"  tableClass="table text-nowrap mb-0"  [showCheckbox]="false">
                                            @for (leave of leaveRequests; track $index) {
                                            <tr>
                                              <td>
                                                <div class="d-flex align-items-start gap-2">
                                                  <div class="lh-1">
                                                    <span class="avatar avatar-sm">
                                                      <img [src]="leave.avatar" alt="">
                                                    </span>
                                                  </div>
                                                  <div class="flex-1">
                                                    <p class="mb-0 fw-medium">{{ leave.name }}</p>
                                                    <span class="fs-12 text-muted">{{ leave.position }}</span>
                                                  </div>
                                                </div>
                                              </td>
                                              <td>
                                                <span>{{ leave.leaveType }}</span>
                                              </td>
                                              <td class="text-center">
                                                <span>{{ leave.days }}</span>
                                              </td>
                                              <td>
                                                <span class="badge" [ngClass]="getStatusClass(leave.status)">{{ leave.status }}</span>
                                              </td>
                                            </tr>
                                        }
                                    </spk-reusable-tables>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-3 -->

                <!-- Start:: row-4 -->
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Employee Directory
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="me-3 my-1">
                                        <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=" example">
                                    </div>
                                    <spk-dropdowns [Customclass]="'dropdown my-1'" [Icon]="true" [title]="'Sort By'" [IconClass]="'ri-arrow-down-s-line align-middle ms-1'"
                                    [class]="'btn btn-sm btn-primary no-caret'" [Menuclass]="'dropdown-menu'">
                                            <li><a class="dropdown-item" href="javascript:void(0);">New</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li>
                                    </spk-dropdowns>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                <spk-reusable-tables [columns]="employeetableHeader"  tableClass="table table-hover text-nowrap"  [showCheckbox]="false">
                                    @for (employee of employeesTable; track $index;let i = $index) {
                                            <tr>
                                              <td class="text-center">{{ i + 1 }}</td>
                                              <td><span class="text-primary">{{ employee.id }}</span></td>
                                              <td>
                                                <div class="d-flex align-items-center">
                                                  <img [src]="employee.imgSrc" class="avatar avatar-sm" alt="" />
                                                  <div class="flex-1 flex-between pos-relative ms-2">
                                                    <a href="javascript:void(0);" class="fs-13 fw-medium">{{ employee.name }}</a>
                                                  </div>
                                                </div>
                                              </td>
                                              <td><span>{{ employee.role }}</span></td>
                                              <td><span>{{ employee.department }}</span></td>
                                              <td><a href="javascript:void(0);">{{ employee.email }}</a></td>
                                              <td><span class="badge" [ngClass]="employee.status === 'Active' ? 'bg-success-transparent' : employee.status === 'On Leave' ? 'bg-info-transparent' : 'bg-danger-transparent'">{{ employee.status }}</span></td>
                                              <td><span>{{ employee.phone }}</span></td>
                                              <td><span class="fw-medium">{{ employee.salary }}</span></td>
                                              <td>
                                                <div class="g-2">
                                                  <a aria-label="anchor" class="btn btn-primary-light btn-sm" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                    <span class="ri-pencil-line"></span>
                                                  </a>
                                                  <a aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" ngbTooltip="Delete">
                                                    <span class="ri-delete-bin-7-line"></span>
                                                  </a>
                                                </div>
                                              </td>
                                            </tr>
                                        }
                                </spk-reusable-tables>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex align-items-center">
                                    <div>
                                        Showing 7 Entries <i class="bi bi-arrow-right ms-2 fw-medium"></i>
                                    </div>
                                    <div class="ms-auto">
                                        <nav aria-label="Page navigation" class="pagination-style-4">
                                            <ul class="pagination mb-0">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0);">
                                                        Prev
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                <li class="page-item">
                                                    <a class="page-link text-primary" href="javascript:void(0);">
                                                        next
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-4 -->